/* style.css */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    line-height: 1.5;
    background-color: #f9f9f9;
    margin: 20px
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

header a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

/* Логин */
.wrapper {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 10px;
}

.site_name {
    text-align: center;
    font-size: 2em;
    color: #343a40;
    margin-bottom: 20px;
}

.login_form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login_form .form-field {
    margin-bottom: 15px;
}

.login_form .form-field span {
    margin-right: 10px;
}

.login_form .form-field input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 16px;
    color: #495057;
}

.login_form button {
    width: 100%;
    padding: 15px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
}

.reset_password {
    margin-top: 10px;
    text-align: center;
}

.reset_password a {
    color: #007bff;
    text-decoration: none;
}

.reset_password a:hover {
    text-decoration: underline;
}

/* Комментарии */

.add_comments {
    margin: 0 auto;
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    margin-top: 20px;
}

.add_comments form {
    display: flex;
    flex-direction: column;
}

form#add_form input, form#add_form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    font-size: 16px;
}

submit_btn-primary {
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

submit_btn:hover {
    background-color: #0056b3;
}

/* Отображение контента */

h1{
   margin: 0 auto;
    width: 80%;
}

.listcontent {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    width: 80%;
}

.listcontent ul {
    list-style-type: none;
    padding: 0;
}

.listcontent ul li {
    background-color: #f8f8f8;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.listcontent ul li p {
    margin: 0;
}

.listcontent ul li p:first-child {
    font-weight: 600;
}

.listcontent ul li p:last-child {
    text-align: right;
    color: #888;
    font-size: 0.8em;
}
/* Аккаунт */

.account_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh; /* Use this if you want to center the card vertically,
                      otherwise remove it. vh stands for viewport height */
}

.account_card{
    position: relative;
    width: 350px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.1);
}


.account_imagine .image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #ccc;
    margin-bottom: 10px;
}

.profile_image img {
    width: 100px; /* Задайте нужную ширину */
    height: 100px; /* Задайте нужную высоту */
    border-radius: 50%; /* Это создаст эффект округления */
    object-fit: cover; /* Это поможет сохранить пропорции изображения при обрезке */
}

.account_info{
    padding-left: 15px;
}

.account_info .account_name{
    margin: 0 0 10px 0;
    font-size: 18px;
}

.account_info span{
    font-size: 14px;
    color: #555;
}

.account_info .account_text{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.account_info .account_text .d-flex{
    display: flex;
    flex-direction: column;
}

.account_info .account_text span{
    text-align: center;
}

.account_btns{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.account_btns button{
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

.account_btns .On_main_btn{
    background: #6c63fe;
    color: #fff;
}

.account_btns .On_main_btn:hover{
    background: #4b46cd;
}

.account_btns .Change_password_btn{
    background: #ff4757;
    color: #fff;
}

.account_btns .Change_password_btn:hover{
    background: #cd3446;
}

.account_btns .Logout_btn{
    background: #2ed573;
    color: #fff;
}

.account_btns .Logout_btn:hover{
    background: #24a352;
}