/* style.css */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    line-height: 1.5;
    background-color: #f9f9f9;
    margin: 20px
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

header a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

/* Логин */
.wrapper {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 10px;
}

.site_name {
    text-align: center;
    font-size: 2em;
    color: #343a40;
    margin-bottom: 20px;
}

.login_form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login_form .form-field {
    margin-bottom: 15px;
}

.login_form .form-field span {
    margin-right: 10px;
}

.login_form .form-field input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 16px;
    color: #495057;
}

.login_form button {
    width: 100%;
    padding: 15px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
}

.reset_password {
    margin-top: 10px;
    text-align: center;
}

.reset_password a {
    color: #007bff;
    text-decoration: none;
}

.reset_password a:hover {
    text-decoration: underline;
}


/* Комментарии */

.comments {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 1.5em;
    background-color: #f2f2f2;
}

.comments p{
    padding: .5em 0;
}

.comments p:nth-child(1) {
    font-weight: bold;
}

.comments p:nth-child(3) {
    font-size: 0.8em;
    color: #666;
}
.comment_form {
    width: 300px;
    height: 200px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.btn-primary {
    background-color: #3498db;
    color: #fff;
}

.btn-primary:hover {
    background-color: #2980b9;
}
/* Отображение контента */

h1{
   margin: 0 auto;
    width: 80%;
}

.listcontent {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    width: 80%;
}

.listcontent ul {
    list-style-type: none;
    padding: 0;
}

.listcontent ul li {
    background-color: #f8f8f8;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.listcontent ul li p {
    margin: 0;
}

.listcontent ul li p:first-child {
    font-weight: 600;
}

.listcontent ul li p:last-child {
    text-align: right;
    color: #888;
    font-size: 0.8em;
}
/* Аккаунт */

/* Общий контейнер для профиля */
.account_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
}

/* Карточка профиля */
.account_card {
    display: flex;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* Изображение профиля */
.profile_image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

/* Информация о пользователе */
.account_info {
    display: flex;
    flex-direction: column;
}

.account_name {
    font-size: 24px;
    margin-bottom: 5px;
}

/* Кнопки */
.account_btns button {
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.On_main_btn {
    background-color: #333333;
    color: white;
}

.Change_password_btn {
    background-color: #333333;
    color: white;
}

.Logout_btn {
    background-color: #e74c3c;
    color: white;
}

.change-avatar {
    max-width: 200px;

}

.change-avatar h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.change-avatar form {
    display: flex;
    flex-direction: column;
}

.change-avatar label {
    margin-bottom: 5px;
}

.change-avatar button {
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    background-color: #333333;
}

.change-avatar button:hover {
    background-color: #2980b9;
}


/* Новый пост форма */

/* Стили для контейнера формы */
.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Стили для заголовков формы */
.form-container .form-label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
}

/* Стили для выпадающего списка */
.select-thread {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

/* Стили для текстовых полей */
.form-container input[type="text"],
.form-container textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

/* Стили для кнопки */
.form-container .form-submit-button {
    padding: 10px 20px;
    background-color: #007BFF;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.form-container .form-submit-button:hover {
    background-color: #0056b3;
}