<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Форум</title>
    <link rel="stylesheet" href="C:\Users\atyom\Desktop\git\forum_proj\forum_app\static\forum_app\style.css">
</head>
<body>
<div class="container">
    <div class="subforum">
        <div class="subforum-title">
            <h1>General Infomation</h1>
        </div>
        <div class="subforum-row">
            <div class="subforum-icon">
                <i class="fa fa-car"></i>
            </div>
            <div class="subforum-description"></div>
        </div>
    </div>

</div>
<!--<script src="main.js"></script>-->
</body>
</html>