{% extends "forum_app/base.html" %}

{% block content %}
<h1>Пост:</h1>
<div class="listcontent">

        <ul>
        <li>
            <h2>{{ post.title }}</a>
                <h4>{{ post.content }}</h4>
                <p>By {{ post.created_by }}</p></h2>
        </li>
    </ul>

    {% for comment in comments %}
    <div class="comments">
        <p>{{ comment.created_by.username }}</p>
        <p>{{ comment.content }}</p>
        <p>{{ comment.created_at }}</p>
    </div>
{% endfor %}
</div>
<!-- Comment form -->
<div class="comment_form">
<form method="POST">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <input type="submit" value="Оправить">
</form>
</div>
{% block extra_body %}{% endblock %}
{% endblock %}