{% extends "forum_app/base.html" %}

{% block content %}
<h1>Пост:</h1>
<div class="listcontent">

        <ul>
        <li>
            <h2>{{ post.title }}</a>
                <h4>{{ post.content }}</h4>
                <p>By {{ post.created_by }}</p></h2>
        </li>
    </ul>

{% for comment in comments %}
  <div class="comments">
    <p>{{ comment.content }}</p>
    <p>By {{ comment.created_by.username }}</p>
      {% if user.is_authenticated and user.username == comment.created_by.username %}
        <a href="{% url 'forum_app:comment_delete' comment.pk %}">Удалить</a>
      {% endif %}
  </div>

{% endfor %}

<!-- Comment form -->
<div class="comment_form my-custom-style">
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            {{ comment_form.content.label_tag }}
            {{ comment_form.content }}
        </div>
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
</div>
</div>
{% block extra_body %}{% endblock %}
{% endblock %}