{% extends "forum_app/base.html" %}
{% load static %}

{% block content %}
<div class="account-container">
    <div class="profile_image">
        <img src="{{ user_profile.avatar.url }}" alt="User avatar">
    </div>

    <div class="change-avatar">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="{{ form.avatar.id_for_label }}">Выберите файл аватара:</label>
            {{ form.avatar }}
            <button type="submit">Установить</button>
        </form>
    </div>
        <div class="account_info">
            <h4 class="account_name">{{ user.username }}</h4>
            <span>Подпись: {{ user_profile.signature }}</span>
        </div>
        <div class="account_btns">
            <button class="On_main_btn"
                    onclick="location.href='{% url 'forum_list' %}'">На главную
            </button>
            <button class="Change_password_btn"
                    onclick="location.href='{% url 'password_change' %}'">Поменять пароль
            </button>
            <button class="Logout_btn"
                    onclick="location.href='{% url 'logout' %}?next=/profile'">Выйти
            </button>
        </div>
</div>
{% endblock %}
