{% extends "forum_app/base.html" %}
{% load static %}

{% block content %}
<div class="account-container">
    <div class="profile_image">
        <img src="{{ user_profile.avatar.url }}" alt="User avatar">
    </div>

    <div class="change-avatar">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="{{ form.avatar.id_for_label }}">Выберите файл аватара:</label>
            {{ form.avatar }}
            <button type="submit">Установить</button>
        </form>
    </div>
    <div class="account_info">
        <h4 class="account_name">{{ user.username }}</h4>
        <span>Подпись: {{ user_profile.signature }}</span>
    </div>
    <div class="account_btns">
        <button class="Change_password_btn"
                onclick="location.href='{% url 'password_change' %}'">Поменять пароль
        </button>
        <form method="post" action="{% url 'logout' %}?next=/profile">
            {% csrf_token %}
            <button class="Logout_btn"
                    onclick="location.href='{% url 'logout' %}?next=/profile'">Выйти
            </button>
        </form>
    </div>
    <!-- Список постов пользователя -->
    <div class="user-posts">
        <h3>Мои посты:</h3>
        {% if user_posts %}
        <ul>
            {% for post in user_posts %}
            <li>
                <a href="{% url 'forum_app:post_detail' forum_slug=post.thread.forum.slug thread_slug=post.thread.slug slug=post.slug %}">
                    {{ post.title }} ({{ post.created_at }})
                </a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>У вас пока нет постов.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
