{% extends "forum_app/base.html" %}

{% block content %}
<div class="wrapper">
    <div class="site_name">
        Forum
    </div>
    <form class="login_form" method="post">
        {% csrf_token %}
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text" name="username" id="userName" placeholder="Username">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="password_name"></span>
            <input type="password" name="password" id="pwd" placeholder="Password">
        </div>
        {{ form.errors }}
        <button class="login_text">Login</button>
    </form>
    <div class="reset_password">
        <a href="{% url 'password_reset' %}">Забыли пароль?</a> или <a href="{% url 'forum_app:register' %}">Регистрация</a>
    </div>
</div>
</body>
</html>
{% endblock %}